## Teste

### int INDICE = 13, SOMA = 0, K = 0;

enquanto K < INDICE faça { K = K + 1; SOMA = SOMA + K; }

imprimir(SOMA);

Ao final do processamento, qual será o valor da variável SOMA?

In [1]:
indice = 13
soma = 0
k = 0

while k < indice:
    k = k + 1
    soma = soma + k
print(soma)

91

### 2) Dado a sequência de Fibonacci, onde se inicia por 0 e 1 e o próximo valor sempre será a soma dos 2 valores anteriores (exemplo: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34...), escreva um programa na linguagem que desejar onde, informado um número, ele calcule a sequência de Fibonacci e retorne uma mensagem avisando se o número informado pertence ou não a sequência.

IMPORTANTE: Esse número pode ser informado através de qualquer entrada de sua preferência ou pode ser previamente definido no código;

In [2]:
fibonacci = [1,1]
i = 0
num = int(input("Entre com um número: "))

while num > len(fibonacci):
	fibonacci.append(fibonacci[i] + fibonacci[i+1])
	i+=1
print ('Fibonacci(%d): %d;' %(num,fibonacci[num-1]),end="")
if (num in fibonacci):
    print(" O número digitado pertence a sequência Fibonacci.")
else:
    print(" O número não pertence a sequência Fibonacci.")

Entre com um número: 13
Fibonacci(13): 233; O número digitado pertence a sequência Fibonacci.

### 3) Dado um vetor que guarda o valor de faturamento diário de uma distribuidora, faça um programa, na linguagem que desejar, que calcule e retorne: • O menor valor de faturamento ocorrido em um dia do mês; • O maior valor de faturamento ocorrido em um dia do mês; • Número de dias no mês em que o valor de faturamento diário foi superior à média mensal.

IMPORTANTE: a) Usar o json ou xml disponível como fonte dos dados do faturamento mensal; b) Podem existir dias sem faturamento, como nos finais de semana e feriados. Estes dias devem ser ignorados no cálculo da média;

###OBS: Usei um arquivo meu para simular a atividade, pois não estava disponivél o arquivo

In [3]:
import pandas as pd
import numpy as np

In [4]:
pwd

'C:\\Users\\jacks'

In [5]:
df = pd.read_excel('psel.xlsx')
df.head()

,data,receita,transacoes_blog,transacoes_site,usuarios_blog,usuarios_site
0,2019-01-01,349183.80,0.0,4693.17,0.0,46739.29
1,2019-01-02,867328.02,0.0,8500.80,0.0,83128.64
2,2019-01-03,758589.54,0.0,9375.06,0.0,86066.65
3,2019-01-04,688872.90,0.0,8404.92,0.0,69363.30
4,2019-01-05,441759.94,0.0,6136.20,0.0,56182.50

In [6]:
## • O menor valor de faturamento ocorrido em um dia do mês;

menor_valor = df.groupby('receita')
menor_valor['data'].agg([np.min]).head(1)

                amin
receita
32085.19  2019-05-14

In [7]:
##  • O maior valor de faturamento ocorrido em um dia do mês;

maior_valor = df.groupby('receita')
maior_valor['data'].agg([np.max]).tail(1)

                  amax
receita
12266843.7  2019-11-29

In [8]:
df.receita.mean()

1623891.1741548113

In [9]:
## • Número de dias no mês em que o valor de faturamento diário foi superior à média mensal

dias_receita_maior_media = df.groupby('data').mean()['receita'] > df['receita'].mean()
dias_receita_maior_media.value_counts().to_dict()

{False: 386, True: 253}

### 4) Dado o valor de faturamento mensal de uma distribuidora, detalhado por estado:

SP – R 67.836,43𝑅𝐽–𝑅 36.678,66 MG – R 29.229,88𝐸𝑆–𝑅 27.165,48 Outros – R$19.849,53

Escreva um programa na linguagem que desejar onde calcule o percentual de representação que cada estado teve dentro do valor total mensal da distribuidora

In [10]:
import pandas as pd
import numpy as np

faturamento = pd.Series([67836.43, 36678.66, 29229.88, 27165.48, 19849.53], index=['SP', 'RJ', 'MG', 'ES', 'Outros'])
faturamento

SP        67836.43
RJ        36678.66
MG        29229.88
ES        27165.48
Outros    19849.53
dtype: float64

In [11]:
faturamento_total = faturamento.sum()
faturamento_total

180759.98

In [12]:
SP = faturamento['SP'] / faturamento_total
percentual = SP * 100
print(SP)

RJ = faturamento['RJ'] / faturamento_total
percentual = RJ * 100
print(RJ)

MG = faturamento['MG'] / faturamento_total
percentual = MG * 100
print(MG)

ES = faturamento['ES'] / faturamento_total
percentual = ES * 100
print(ES)

Outros = faturamento['Outros'] / faturamento_total
percentual = Outros * 100
print(Outros)

0.3752845624346716
0.20291360952794973
0.16170548370275323
0.15028481414968067
0.10981153018494469

### 5) Escreva um programa que inverta os caracteres de um string.
IMPORTANTE: a) Essa string pode ser informada através de qualquer entrada de sua preferência ou pode ser previamente definida no código; b) Evite usar funções prontas, como, por exemplo, reverse;

In [13]:
txt = 'Inverter texto'[::-1]
print(txt)

otxet retrevnI